/*---------------------------------------------- TABLE OF CONTENTS ---------------------------------------------------*/
/*

1. General

*/
/* Imports all variables and mixins */
/*---------------------------------------------- ENGINE ---------------------------------------------------*/
/* Shall be included in all files - contains fundamental variables, mixins and the gridsystem */
/*---------------------------------------------- VARIABLES - TABLE OF CONTENTS ---------------------------------------------------*/
/* Shall contain all fundamental variables for stylesheets

1. TYPOGRAPHY - Colors, sizes, weight and font families
2. GRID - Sitewidth, columns and contentwidth
3. COLORS
4. HEADER
*/
/*---------------------------------------------- TYPOGRAPHY VALUES ---------------------------------------------------*/
/* Here is where you set your font-families and your body font-size. The rest of the typography adjusts itself to this value based on the Golden Ratio.
This generates a base which is seated on the same baseline. In case you wan't to change individual H1-H6 etc. You have to do that in typography.scss or
better yet - override the styles in another document. */
/* FONT SIZE */
/* FONT COLOR */
/* FONT WEIGHT */
/* VARIABLES BASED ON THE GOLDEN RATIO  */
/* Here is where you set font-sizes individually if you like. Divide pixelvalue by then like so h1 = 16/10 */
/* LINKS */
/*---------------------------------------------- GRID VALUES ---------------------------------------------------*/
/*---------------------------------------------- COLOR VALUES ---------------------------------------------------*/
/* GENERAL */
/* NAVIGATION */
/* FOOTER */
/* ----------------------------------------------------- MIXINS - TABLE OF CONTENT ----------------------------------------------------- */
/*
1. TYPOGRAPHY MIXINS
2. BUTTONS
*/
/* ----------------------------------------------------- TYPOGRAPHY MIXINS ----------------------------------------------------- */
/* Calculates font size in rem and px  for browser compatability */
/* Sets h1 on baseline */
/* ----------------------------------------------------- BUTTONS ----------------------------------------------------- */
/* Creates button */
/* ----------------------------------------------------- RESPONSIVE MENU ----------------------------------------------------- */
/*---------------------------------------------- GRID - TABLE OF CONTENTS ---------------------------------------------------*/
/*
1. COLUMN
2. CENTERCOLUMN
3. WRAPPER
4. CLEARFIX

*/
/* Set columnspan for layout */
/* Center a column which is alone in its' row */
/* Set columnspan for layout */
/* Wrap elements and center on page */
/* Wrap elements and center on page: This mixin is used to center content like texts on very wide pages*/
/* Wrap elements with custom padding */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0; }

#wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

main {
  width: 100%;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.wrap {
  margin: 0 auto;
  max-width: 80%;
  *zoom: 1; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }
  @media (max-width: 1480px) {
    .wrap {
      max-width: 95%; } }
  @media (max-width: 1023px) {
    .wrap {
      max-width: 98%; } }

footer {
  background-color: #081635;
  color: #153b8e; }
  footer a {
    color: #153b8e;
    font-family: "Montserrat", sans-serif;
    font-size: small; }
  footer span {
    display: block;
    text-align: center;
    margin: 25px auto; }

.pageheader {
  background-color: #081635; }
  .pageheader h1 {
    font-size: 60px;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    max-width: 80%;
    *zoom: 1;
    @iclude column(12); }
    .pageheader h1:before, .pageheader h1:after {
      content: "";
      display: table; }
    .pageheader h1:after {
      clear: both; }
    @media (max-width: 1480px) {
      .pageheader h1 {
        max-width: 95%; } }
    @media (max-width: 1023px) {
      .pageheader h1 {
        max-width: 98%; } }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto; }

.slideshow img {
  width: 100%; }

hr {
  clear: both;
  display: block;
  padding-top: 25px;
  border: 0;
  border-bottom: 2px dotted #081635;
  margin: 0; }

.grid {
  display: block;
  float: left;
  width: 100%;
  padding: 0 25px;
  margin-bottom: 50px; }
  @media (max-width: 1023px) {
    .grid {
      padding: 0 13px; } }
  @media (max-width: 900px) {
    .grid {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.question {
  display: block;
  width: 100%;
  padding: 0;
  *zoom: 1;
  margin-bottom: 50px; }
  .question:before, .question:after {
    content: "";
    display: table; }
  .question:after {
    clear: both; }
  .question h3 {
    margin: 25px 0;
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding-left: 0; }
    @media (max-width: 1023px) {
      .question h3 {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question h3 {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .question h6 {
    margin: 25px 0;
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding-right: 0;
    text-align: right; }
    @media (max-width: 1023px) {
      .question h6 {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question h6 {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .question article {
    display: block;
    float: left;
    width: 91.66667%;
    padding: 0 25px;
    padding-right: 0; }
    @media (max-width: 1023px) {
      .question article {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question article {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    .question article h1, .question article h2, .question article h3, .question article h4, .question article h5, .question article h6 {
      font-family: "Josefin Slab", serif; }
  .question img {
    clear: both;
    display: block;
    float: left;
    width: 8.33333%;
    padding: 0 25px;
    padding: 0;
    border-radius: 50%; }
    @media (max-width: 1023px) {
      .question img {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question img {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .question .date {
    font-size: smaller;
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding-right: 0;
    text-align: right; }
    @media (max-width: 1023px) {
      .question .date {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question .date {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .question .tags {
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding-left: 0; }
    @media (max-width: 1023px) {
      .question .tags {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .question .tags {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    .question .tags a {
      font-size: smaller; }
  .question .number-answers {
    font-size: smaller;
    font-family: "Josefin Slab", serif; }

.one-question .main-question .date {
  display: block;
  float: right;
  width: 33.33333%;
  padding: 0 25px;
  padding-right: 0;
  text-align: right; }
  @media (max-width: 1023px) {
    .one-question .main-question .date {
      padding: 0 13px; } }
  @media (max-width: 900px) {
    .one-question .main-question .date {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0; } }
.one-question .main-question .tags {
  display: block;
  float: left;
  width: 50%;
  padding: 0 25px;
  padding-left: 0; }
  @media (max-width: 1023px) {
    .one-question .main-question .tags {
      padding: 0 13px; } }
  @media (max-width: 900px) {
    .one-question .main-question .tags {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .one-question .main-question .tags a {
    font-size: smaller; }
.one-question .main-question .user {
  font-size: smaller;
  display: block;
  float: left;
  width: 50%;
  padding: 0 25px;
  padding-right: 0;
  text-align: right; }
  @media (max-width: 1023px) {
    .one-question .main-question .user {
      padding: 0 13px; } }
  @media (max-width: 900px) {
    .one-question .main-question .user {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0; } }
.one-question .answers {
  clear: both;
  display: block;
  width: 100%;
  padding: 0;
  *zoom: 1; }
  .one-question .answers:before, .one-question .answers:after {
    content: "";
    display: table; }
  .one-question .answers:after {
    clear: both; }
  .one-question .answers h2 {
    border-bottom: 3px solid #081635;
    padding: 6px 0; }
  .one-question .answers .answer {
    background-color: #fafafa;
    padding: 13px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px; }
    .one-question .answers .answer .date {
      font-size: smaller;
      float: right; }
    .one-question .answers .answer .user {
      font-size: smaller; }
    .one-question .answers .answer hr {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }
    .one-question .answers .answer h1, .one-question .answers .answer h2, .one-question .answers .answer h3, .one-question .answers .answer h4, .one-question .answers .answer h5, .one-question .answers .answer h6 {
      font-family: "Josefin Slab", serif; }
    .one-question .answers .answer .comment .date {
      display: block;
      float: left;
      width: 50%;
      padding: 0 25px;
      padding: 0;
      font-size: small; }
      @media (max-width: 1023px) {
        .one-question .answers .answer .comment .date {
          padding: 0 13px; } }
      @media (max-width: 900px) {
        .one-question .answers .answer .comment .date {
          min-width: 100%;
          margin-left: 0;
          margin-right: 0; } }
    .one-question .answers .answer .comment .user {
      display: block;
      float: left;
      width: 50%;
      padding: 0 25px;
      padding: 0;
      text-align: right;
      font-size: small; }
      @media (max-width: 1023px) {
        .one-question .answers .answer .comment .user {
          padding: 0 13px; } }
      @media (max-width: 900px) {
        .one-question .answers .answer .comment .user {
          min-width: 100%;
          margin-left: 0;
          margin-right: 0; } }

.go-back, .button-nav, .small-button-nav {
  clear: both; }

.go-back a, .button-nav a {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  font-weight: 100;
  width: auto;
  display: inline-block;
  background-color: #081635;
  color: #fff;
  padding: 6px 13px;
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.3) outset;
  border-radius: 3px;
  margin: 25px 0; }
  .go-back a:hover, .button-nav a:hover {
    background-color: #d6ae62;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    text-decoration: none; }

.small-button-nav a {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: 100;
  width: auto;
  display: inline-block;
  background-color: #081635;
  color: #fff;
  padding: 3px 6px;
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.3) outset;
  border-radius: 2px;
  margin: 25px 0; }
  .small-button-nav a:hover {
    background-color: #d6ae62;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    text-decoration: none; }

.comment-link {
  float: right; }
  .comment-link a {
    font-size: smaller;
    font-weight: 100;
    width: auto;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 2px;
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.3) outset;
    border-radius: 2px;
    margin: 5px 0; }
    .comment-link a:hover {
      background-color: #d6ae62;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
      cursor: pointer;
      text-decoration: none; }

.comment {
  clear: both;
  display: block;
  width: 100%;
  padding: 0;
  *zoom: 1;
  padding: 13px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 13px; }
  .comment:before, .comment:after {
    content: "";
    display: table; }
  .comment:after {
    clear: both; }
  .comment .text {
    display: block;
    float: left;
    width: 100%;
    padding: 0 25px;
    padding: 0;
    font-size: smaller;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }
    @media (max-width: 1023px) {
      .comment .text {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .comment .text {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .comment .date {
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding: 0;
    font-size: small; }
    @media (max-width: 1023px) {
      .comment .date {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .comment .date {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .comment .user {
    display: block;
    float: left;
    width: 50%;
    padding: 0 25px;
    padding: 0;
    text-align: right;
    font-size: small; }
    @media (max-width: 1023px) {
      .comment .user {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .comment .user {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }

.comments h5 {
  margin-top: 0; }

.all-users {
  margin: 50px auto; }
  .all-users .user {
    display: block;
    float: left;
    width: 33.33333%;
    padding: 0 25px;
    text-align: center; }
    @media (max-width: 1023px) {
      .all-users .user {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .all-users .user {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    .all-users .user a img {
      border-radius: 50%;
      border: 3px solid #d6ae62;
      background-color: #081635;
      padding: 6px;
      transition: .5s ease all; }
    .all-users .user a h3 {
      margin-top: 6px;
      margin-bottom: 50px; }
    .all-users .user a:hover {
      text-decoration: none; }
      .all-users .user a:hover img {
        border-color: #081635;
        background-color: #d6ae62; }
      .all-users .user a:hover h3 {
        color: #d6ae62;
        text-decoration: none; }

.one-user {
  margin: 50px 0; }
  .one-user img {
    border-radius: 50%;
    transition: .5s ease all;
    display: block;
    float: left;
    width: 25%;
    padding: 0 25px;
    padding-left: 0; }
    @media (max-width: 1023px) {
      .one-user img {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .one-user img {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .one-user article {
    display: block;
    float: left;
    width: 75%;
    padding: 0 25px;
    padding-right: 0; }
    @media (max-width: 1023px) {
      .one-user article {
        padding: 0 13px; } }
    @media (max-width: 900px) {
      .one-user article {
        min-width: 100%;
        margin-left: 0;
        margin-right: 0; } }

form {
  clear: both;
  border: none;
  width: 100%;
  padding: 25px 50px; }
  form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%; }
  form input, form textarea {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
    border-radius: 6px;
    padding: 13px; }
  form textarea {
    resize: vertical; }
  form input[type='submit'] {
    font-family: "Montserrat", sans-serif;
    width: auto;
    float: right;
    background-color: #081635;
    color: #fff;
    padding: 8px 25px;
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.3) outset; }
    form input[type='submit']:hover {
      background-color: #d6ae62;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
      cursor: pointer; }
  form textarea {
    min-height: 125px; }
